/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1; /* Rosa pastel */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff69b4; /* Fucsia */
    color: white;
    padding: 15px 0;
}

/* Formulario */
form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #ff1493; /* Rosa intenso */
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #ff1493; /* Rosa intenso */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botones Animados */
.animated-btn {
    margin: 15px;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff69b4, #ff1493); /* De fucsia a rosa intenso */
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, background 0.3s;
}

.animated-btn:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #ff1493, #ff69b4); /* Inversión de colores al pasar el mouse */
}

/* Mensajes personalizados */
#personalized-message {
    color: #d87093; /* Rosa pastel oscuro */
    font-weight: bold;
    margin-top: 20px;
}
