/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

/* Encabezado */
header {
    background-color: #ff1493; /* Fucsia */
    color: white;
    padding: 20px;
    font-size: 24px;
}

/* Estilos para la tabla */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #ff1493; /* Fucsia */
    color: white;
    font-size: 18px;
    animation: animateHeader 1s ease-in-out infinite alternate;
}

td {
    background-color: #f1f1f1;
}

/* Animación para los encabezados */
@keyframes animateHeader {
    0% {
        background-color: #ff1493;
    }
    100% {
        background-color: #ff69b4;
    }
}

/* Estilo para los botones */
button {
    padding: 10px 15px;
    background-color: #ff1493;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff69b4; /* Fucsia más claro */
    transform: scale(1.1);
}

/* Estilo para los botones animados */
.animated-btn {
    margin: 20px;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff69b4, #ff1493);
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
}

.animated-btn:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #ff1493, #ff69b4);
}

/* Contenedor de las imágenes de la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

/* Imagen con efectos */
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.image-container img:hover {
    cursor: pointer;
}

/* Efectos de animación para las imágenes */
#img1:hover {
    transform: rotate(20deg); /* Rotación */
}

#img2:hover {
    transform: scale(1.2); /* Zoom */
}

#img3:hover {
    opacity: 0.7; /* Desvanecimiento */
}

#img4:hover {
    transform: rotateY(180deg); /* Giro 3D */
}

#img5:hover {
    filter: brightness(1.2); /* Cambio de color */
}

/* Estilo para el formulario de edad */
form {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #ff1493;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

/* Estilo para el mensaje de edad */
#age-message {
    font-weight: bold;
    font-size: 18px;
    color: #d87093;
    margin-top: 15px;
    font-style: italic;
}
